.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 25px 15px;
  // .login__title
  &__title {}
  // .login__error
  &__error {
    font-size: 20px;
    color: red;
  }
  // .login__items
  &__items {
    display: flex;
    max-width: 600px;
    gap: 30px;
    text-align: center;
    font-size: 18px;
  }
  // .login__item
  &__item {
    
  }
  // .login__input
  &__input {
    width: 100%;
    height: 30px;
    padding: 0px 10px;
    font-size: 18px;
  }
  // .login__btn
  &__btn {
    padding: 7px 27px;
    font-size: 18px;
    cursor: pointer;
    border: 2px dotted purple;
    background-color: #157c83;
    transition: all 0.3s;
    color: white;
    @media (any-hover: hover){
      &:hover{
        color: #000;
        background-color: #adca87;
      }
    }
  }
}
