.list {
  // .list__empty
  &__empty {
    text-align: center;
    font-weight: 700;
    font-size: 25px;
    color: orange;
  }
  // .list__items
  &__items {
    border: 2px solid #000;
    padding: 30px;
  }
}
